
.backgroundONe {
    background: linear-gradient(180deg, rgba(242, 201, 76, 0.2) 0%, rgba(242, 153, 74, 0.2) 100%);
    height: 100vh;
    position: absolute;
    width: 140vw;
    transform: rotate(-10deg);
    top: -50vh;
    left: -30vw;
    
}